{
  "env": {
    "development": {
      "presets": ["next/babel"],
      "plugins": [["inline-react-svg", { "svgo": false }]]
    },
    "production": {
      "presets": ["next/babel"],
      "plugins": [["inline-react-svg", { "svgo": false }]]
    },
    "test": {
      "presets": ["next/babel"],
      "plugins": [["inline-react-svg", { "svgo": false }]]
    }
  }
}
